.IWD-ei {
  position: relative;
  width: 206px;
  height: 297px;
  z-index: 1;
  &__mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/bg8.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 60;
  }
  &__undermask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: hidden;
  }

  .IWD-rotate-1 {
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
  }

  .IWD-rotate-2 {
    -webkit-animation: rotating 12s ease-in-out infinite;
    -moz-animation: rotating 12s ease-in-out infinite;
    -ms-animation: rotating 12s ease-in-out infinite;
    -o-animation: rotating 12s ease-in-out infinite;
    animation: rotating 12s ease-in-out infinite;
  }

  .IWD-rotate-3 {
    -webkit-animation: rotating2 12s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating2 12s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating2 12s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating2 12s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating2 12s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  .IWD-rotate-4 {
    -webkit-animation: rotating2 5s ease-in-out infinite;
    -moz-animation: rotating2 5s ease-in-out infinite;
    -ms-animation: rotating2 5s ease-in-out infinite;
    -o-animation: rotating2 5s ease-in-out infinite;
    animation: rotating2 5s ease-in-out infinite;
  }

  .IWD-rotate-5 {
    -webkit-animation: rotating2 50s ease-in-out infinite;
    -moz-animation: rotating2 50s ease-in-out infinite;
    -ms-animation: rotating2 50s ease-in-out infinite;
    -o-animation: rotating2 50s ease-in-out infinite;
    animation: rotating2 50s ease-in-out infinite;
  }

  .IWD-rotate-6 {
    -webkit-animation: rotating2 45s ease-in-out infinite;
    -moz-animation: rotating2 45s ease-in-out infinite;
    -ms-animation: rotating2 45s ease-in-out infinite;
    -o-animation: rotating2 45s ease-in-out infinite;
    animation: rotating2 45s ease-in-out infinite;
  }

  .IWD-rotate-7 {
    -webkit-animation: rotating3 85s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating3 85s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating3 85s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating3 85s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating3 85s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  .IWD-rotate-8 {
    -webkit-animation: rotating4 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating4 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating4 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating4 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating4 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  .IWD-rotate-9 {
    -webkit-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  .IWD-rotate-10 {
    -webkit-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating5 45s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  .IWD-rotate-11 {
    -webkit-animation: rotating6 25s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -moz-animation: rotating6 25s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -ms-animation: rotating6 25s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    -o-animation: rotating6 25s cubic-bezier(0.85, 0, 0.15, 1) infinite;
    animation: rotating6 25s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  /*flowers*/

  .IWD-flower {
    position: absolute;
  }

  .IWD-flower-1 {
    left: 10px;
    top: 0;
  }

  .IWD-flower-2 {
    right: 20px;
    top: 50px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-3 {
    left: -20px;
    bottom: 50px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-4 {
    left: 120px;
    top: 90px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-5 {
    left: 120px;
    bottom: 0px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-6 {
    left: -20px;
    bottom: -80px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-7 {
    left: -20px;
    top: 20px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-8 {
    right: -20px;
    top: -60px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-9 {
    right: 0px;
    top: 90px;
    filter: drop-shadow(0px 0px 5px rgba(145, 0, 0, 0.5));
  }

  .IWD-flower-10 {
    right: -20px;
    top: 160px;
    width: 80px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
  }
  .IWD-flower-11 {
    left: 0px;
    top: 0px;
    width: 90px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
  }
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating2 {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}
@keyframes rotating3 {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}
@keyframes rotating4 {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(360deg);
  }

  30% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}
@keyframes rotating5 {
  0% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(90deg);
  }

  20% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(180deg);
  }

  35% {
    transform: rotate(90deg);
  }

  40% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(80deg);
  }

  60% {
    transform: rotate(150deg);
  }

  60% {
    transform: rotate(80deg);
  }

  65% {
    transform: rotate(180deg);
  }

  70% {
    transform: rotate(100deg);
  }

  80% {
    transform: rotate(120deg);
  }

  85% {
    transform: rotate(50deg);
  }

  90% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotating6 {
  0% {
    transform: rotate(0);
  }

  9% {
    transform: rotate(16deg);
  }

  10% {
    transform: rotate(15deg);
  }

  19% {
    transform: rotate(52deg);
  }

  20% {
    transform: rotate(50deg);
  }

  35% {
    transform: rotate(95deg);
  }

  36% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(80deg);
  }

  60% {
    transform: rotate(150deg);
  }

  65% {
    transform: rotate(80deg);
  }

  70% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(100deg);
  }

  80% {
    transform: rotate(120deg);
  }

  85% {
    transform: rotate(50deg);
  }

  90% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
