<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__top">
                <a href="" class="header__logo">
                    <img class="img-fluid" src="../img/logo-brozex-color.svg" width="103" height="36" alt="Logo Brozex">
                </a>
                <div class="header__info">
                    <div class="select-city" data-remodal-target="modal-city">
                        Екатеринбург <i class="icon icon-dropdown-bottom"></i>
                    </div>

                    <a href="tel:+73433452000" class="header__phone"><i class="icon icon-phone"></i>+7 (343) 345 20 00</a>
                </div>
                <div class="header-top-menu">
                    <ul class="header-top-menu__list">
                        <li class="header-top-menu__item">
                            <a class="header-top-menu__link" href="#">О компании <i
                                    class="icon icon-dropdown-bottom"></i></a>
                            <div class="header-top-menu__dropdown">
                                <a class="header-top-menu__link" href="#">Партнерам</a>
                                <a class="header-top-menu__link" href="#">Новости</a>
                                <a class="header-top-menu__link" href="#">Контакты</a>
                            </div>
                        </li>
                        <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Партнерам</a></li>
                        <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Новости</a></li>
                        <li class="header-top-menu__item"><a class="header-top-menu__link" href="#">Контакты</a></li>
                    </ul>
                </div>

                <a href="#" class="header__retail">Розничным покупателям</a>
            </div>
            <div class="header__bottom">
                <div id="js-menu-catalog" class="header__catalog header-catalog">
                    <button type="button" class="header-catalog__btn"></button>
                    <span class="header-catalog__name">Каталог товаров</span>
                </div>
                <div class="header__search main-search">
                    <form action="" class="main-search__form">
                        <input type="text" class="form-control" placeholder="Поиск в каталоге">
                        <input class="main-search__submit" type="submit" value="">
                    </form>
                    <div class="main-search__dropdown"></div>
                </div>

                <div class="menu-control">
                    <a class="menu-control__item" href="">
                        <i class="icon icon-compare"></i>
                        <span class="menu-control__name">Сравнить</span>
                    </a>
                    <a class="menu-control__item" href="">
                        <i class="icon icon-estimate"></i>
                        <span class="menu-control__name">Смета</span>
                    </a>
                    <a class="menu-control__item" href="">
                        <i class="icon icon-favorites">
                            <span class="menu-control__count">3</span>
                        </i>
                        <span class="menu-control__name">Избранное</span>
                    </a>
                    <a class="menu-control__item" href="">
                        <div class="menu-control__icon">

                            <i class="icon icon-basket">
                                <span class="menu-control__count">1</span>
                            </i>
                        </div>
                        <span class="menu-control__name">Корзина</span>
                    </a>
                    <a class="menu-control__item" href="" data-remodal-target="modal-login">
                        <i class="icon icon-login"></i>
                        <span class="menu-control__name">Войти</span>
                    </a>
                </div>
            </div>
            <!--TODO: если контента болльше настроить фиксированаю высоту-->

            <div class="menu-catalog">
                <!--TODO: Сделать нормальное открыетие подменю-->
                <ul class="menu-catalog__list">
                    <li>
                        <a href="#">Строительные материалы</a>
                        <div class="menu-catalog__dropdown">
                            <ul>
                                <li>
                                    <a href="">Аэрозольные лакокрасочные материалы</a>
                                    <div class="menu-catalog__dropdown menu-catalog__dropdown--level3">
                                        <ul>
                                            <li><a href="">Антиплесень</a></li>
                                            <li><a href="">Антисептики и пропитки для дерева</a></li>
                                            <li><a href="">масла и воски</a></li>
                                            <li><a href="">Морилки для дерева</a></li>
                                            <li><a href="">Огнебиозащита</a></li>
                                            <li><a href="">Отбеливатели для дерева</a></li>
                                            <li><a href="">Пропитки для бань и саун</a></li>
                                            <li><a href="">Специальные средства защиты</a></li>
                                            <li><a href="">Шпатлевки по дереву</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="">Клей</a></li>
                                <li><a href="">Колеры</a></li>
                                <li><a href="">Краски и эмали</a></li>
                                <li><a href="">Лаки</a></li>
                                <li><a href="">Пена, герметики</a></li>
                                <li><a href="">Подготовка поверхности к покраске</a></li>
                                <li><a href="">Средства для защиты древесины и минеральных оснований</a></li>
                                <li><a href="">Штукатурно-малярный инструмент</a></li>
                            </ul>
                            <div class="menu-catalog__banner banner-menu-catalog">
                                <figure class="banner-menu-catalog__figure">
                                    <img class="img-fluid" src="https://placehold.co/368x204" width="368"
                                         height="204"
                                         alt="">
                                </figure>
                                <div class="banner-menu-catalog__content">
                                    <div class="banner-menu-catalog__name">BORK RAIN</div>
                                    <div class="banner-menu-catalog__subname">Воздухоочиститель- <br>увлажнитель</div>
                                    <div class="banner-menu-catalog__price">65 000.00 ₽</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="">Лакокрасочные материалы</a></li>
                    <li><a href="">Напольные покрытия</a></li>
                    <li><a href="">Декор</a></li>
                    <li><a href="">Отопление водоснабжение</a></li>
                    <li><a href="">Сантехника</a></li>
                    <li><a href="">Освещение и электротовары</a></li>
                    <li><a href="">Товары для дома</a></li>
                    <li><a href="">Сад и отдых</a></li>
                    <li><a href="">Инструменты</a></li>
                    <li><a href="">Крепежные изделия</a></li>
                    <li><a href="">Двери, окна, арки</a></li>
                    <li><a href="">Плитка</a></li>
                    <li><a href="">Гигиена и красота</a></li>
                    <li><a href="">Автотовары</a></li>
                    <li><a href="">Текстиль</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>