@import "mixin";
@import "fonts";

* {
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
.header-search.only-mobile{
	position: relative;
	margin: 0 -15px;
	padding: 0 15px;
	background-color: #ffffff;
}
.main{
	padding-top: 0;
	overflow: hidden;
}
.main>.container{
	max-width:100%;
	padding: 0;
}
body{
}
.wrp {
	position: relative;
	font-family: "PT Sans";
	overflow: hidden;
	background-image: url("../img/bg.png");
	padding-bottom: 0;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.main{
	padding-bottom: 0;
}

.remodal-overlay{
	background: linear-gradient(180deg, rgba(255, 184, 0, 0.4) 0%, rgba(103, 184, 0, 0.296) 100%);
	backdrop-filter: blur(11.5px);
}
.remodal{
	text-align: left;
	position: relative;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
	background-color: transparent;
	border-radius: 50px;
	padding: 20px;
	max-width: 874px;
	font-family: 'Montserrat';
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: linear-gradient(90deg, #6DB84A 0%, #C3DC2B 100%);
		border-radius: 30px;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url("../img/remodal-decor.png");
		background-repeat: no-repeat;
		background-size: 100%;
		border-radius: 30px;
		width: 307px;
		height: 302px;
		z-index: -2;
	}
	&__body{
		background-image: url("../img/bg.png");
		padding: 89px 79px 82px;
		border-radius: 30px;
	}
	p{
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #C24040;
		margin: 0 0 20px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	a{
		text-decoration: underline;
		color: #C24040;
	}
	span{
		color: #1880C1;
		font-style: italic;
	}
	.remodal-close{
		top: 40px;
		right: 40px;
		left: auto;
		width: 50px;
		height: 50px;
		background-image: url("../img/remodal-close.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		&:before{
			display: none;
		}
	}
}

.embed-responsive{
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&:before{
		display: block;
		content: "";
	}
	&.embed-responsive-21by9{
		&:before{
			padding-top: 42.857143%;
		}
	}
	&.embed-responsive-16by9{
		&:before {
			padding-top: 56.25%;
		}
	}
	&.embed-responsive-9by16{
		&:before {
			padding-top: 109%;
		}
	}
	&.embed-responsive-4by3{
		&:before{
			padding-top: 75%;
		}
	}
	&.embed-responsive-1by1{
		&:before{
			padding-top: 100%;
		}
	}
	.embed-responsive-item,
	embed,
	iframe,
	object,
	video{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

@include r(767){
	.remodal-wrapper{
		padding: 20px 0 0;
	}
	.remodal{
		padding: 85px 23px 60px;
		border-radius: 10px;
		&:before{
			border-radius: 10px;
			width: calc( 100% - 10px);
			height: calc( 100% - 10px);
			z-index: -1;
		}
		p{
			font-size: 14px;
			line-height: 17px;
			margin: 0 0 20px;
		}
		.remodal-close{
			top: 12px;
			right: 12px;
		}
	}
}

@import "componets/march8-hero";
@import "componets/animation";
@import "componets/march8-catalog";




