.icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icon-dropdown-bottom {
    background-image: url("../img/icons-sprite.svg#arrow-dropdown-bottom");
}
.icon-slider-left-light {
    background-image: url("../img/icons-sprite.svg#arrow-slider-left-light");
}

.icon-submit-left {
    background-image: url("../img/icons-sprite.svg#arrow-submit-left");
}
.icon-submit-left-light {
    background-image: url("../img/icons-sprite.svg#arrow-submit-left-light");
}

.icon-basket {
    background-image: url("../img/icons-sprite.svg#basket");
}

.icon-compare {
    background-image: url("../img/icons-sprite.svg#compare");
}
.icon-compare-gray {
    background-image: url("../img/icons-sprite.svg#compare-gray");
}

.icon-estimate {
    background-image: url("../img/icons-sprite.svg#estimate");
}
.icon-estimate-gray {
    background-image: url("../img/icons-sprite.svg#estimate-gray");
}

.icon-favorites {
    background-image: url("../img/icons-sprite.svg#favorites");
}
.icon-favorites-gray {
    background-image: url("../img/icons-sprite.svg#favorites-gray");
}

.icon-location {
    background-image: url("../img/icons-sprite.svg#location");
}

.icon-phone {
    background-image: url("../img/icons-sprite.svg#phone");
}

.icon-search {
    background-image: url("../img/icons-sprite.svg#search");
}

.icon-price {
    background-image: url("../img/icons-sprite.svg#price");
}

.icon-login {
    background-image: url("../img/icons-sprite.svg#login");
}

.icon-burger {
    background-image: url("../img/icons-sprite.svg#burger");
}

.icon-minus {
    background-image: url("../img/icons-sprite.svg#minus");
}
.icon-plus {
    background-image: url("../img/icons-sprite.svg#plus");
}

.icon-telegram-light {
    background-image: url("../img/social-sprite.svg#social-telegram-light");
    width: 35px;
    height: 35px;
}

.icon-vkontakte-light {
    background-image: url("../img/social-sprite.svg#social-vkontakte-light");
    width: 35px;
    height: 35px;
}

.icon-whatsapp-light {
    background-image: url("../img/social-sprite.svg#social-whatsapp-light");
    width: 35px;
    height: 35px;
}

.icon-youtube-light {
    background-image: url("../img/social-sprite.svg#social-youtube-light");
    width: 35px;
    height: 35px;
}


.icon-telegram-dark {
    background-image: url("../img/icons-sprite.svg#telegram-dark");
    width: 40px;
    height: 40px;
}

.icon-vkontakte-dark {
    background-image: url("../img/icons-sprite.svg#vkontakte-dark");
    width: 40px;
    height: 40px;
}

.icon-whatsapp-dark {
    background-image: url("../img/icons-sprite.svg#whatsapp-dark");
    width: 40px;
    height: 40px;
}

.icon-close {
    background-image: url("../img/icons-sprite.svg#close");
    width: 40px;
    height: 40px;
}

.icon-breadcrumb {
    background-image: url("../img/icons-sprite.svg#arrow-breadcrumb");
    width: 6px;
    height: 12px;
}


